/* ------------------------------ common styles ----------------------------- */

@define-color waybar-bg rgba(14, 16, 17, 0.9);
/* @import "/home/neil/.cache/cwal/colors-waybar.css"; */
/* @define-color waybar-bg @color0; */

/* --------------------------------- boxpigma ---------------------------------- */

#boxpigma {
  margin-right: 12px;
}

#custom-boxpigma.prev,
#custom-boxpigma.like,
#custom-boxpigma.play,
#custom-boxpigma,
#custom-boxpigma.next {
  margin-top: 4px;
  background: @waybar-bg;
  color: #cdd6f4;
  min-width: 16px;
}

#custom-boxpigma {
  padding: 2px 10px 2px 10px;
  margin-right: 0;
  border-radius: 30px;
}

#boxpigma:hover > widget > #custom-boxpigma {
  border-radius: 30px 0 0 30px;
}

#custom-boxpigma.like,
#custom-boxpigma.prev,
#custom-boxpigma.play {
  padding: 2px 10px 2px 10px;
  margin-right: 0;
  border-radius: 0;
}

#custom-boxpigma.next {
  padding: 2px 10px 2px 10px;
  margin-right: 0;
  border-radius: 0 30px 30px 0;
}

#custom-boxpigma.like.liked {
  color: #f38ba8;
}

#custom-boxpigma.like:hover {
  color: #f38ba8;
}

#custom-boxpigma.playing {
  color: #a6e3a1;
  animation: blink 1s steps(5, start) infinite;
}

#custom-boxpigma.paused {
  color: #f9e2af;
}

#custom-boxpigma.stopped {
  color: #f38ba8;
}

#custom-boxpigma.off,
#custom-boxpigma.idle {
  color: #6c7086;
}

#custom-boxpigma.prev:hover,
#custom-boxpigma.next:hover {
  color: #a6e3a1;
}


/* -------------------------------- animation ------------------------------- */

@keyframes blink {
  to {
    color: #6c7086;
  }
}
